body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* align items to the top */
}
header {
  width: 100%;
  display: flex;
  display: inline-block;
  justify-content: center;
  padding-bottom: 145px;
}
header .container {
  background-color: inherit;
  padding: 0;
  border: none;
  box-shadow: none;
  width: auto;
  max-width: none;
  margin: 0;
  text-align: left;
}
.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  margin-bottom: 40px;
}

.category-title {
  text-align: left;
  font-size: 36px;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fafafa;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.grid-item:hover {
  background-color: #e0e0e0;
}

.grid-item img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.grid-item span {
  flex-grow: 1;
  text-align: left;
  font-size: 24px;
}
