html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 145px;
  height: 70px;
}
.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  top:0;
  margin-bottom: 40px;
  text-align: center;
}
.category-title {
  text-align: left;
  font-size: 36px;
  margin-bottom: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.grid-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fafafa;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: inherit;
}
.grid-item:hover {
  background-color: #e0e0e0;
}
.grid-item img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.grid-item span {
  flex-grow: 1;
  text-align: left;
  font-size: 24px;
}
.checkbox {
  margin-left: 20px;
  width: 50px;
  height: 50px;
}
.button-container {
  text-align: center;
  margin-top: 20px;
}
.btn {
  width: 150px;
}