:root {
    --hiroblue:#0080ff;
    --hatablue:#000080;
    --black: #191E26;
    --body: #78747A;
    --bcground:#F4F6FA;
    --LIKE:#BEE8FF;
}

body{
    background-color: var(--bcground);
    font-family:"Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    color:var(--black);
}

.card-effect{
    box-shadow: 0 8px 22px rgba(0,0,0,0.2);
    background-color: #fff;
    padding: 20px;
    transition: all 0.35s ease;
}

.card-effect:hover{
    box-shadow: none;
    transform: translateY(5px); /*hover時に5px下がる*/
}

.container-custom {
    max-width: 960px; /* 例として960pxを設定 */
}

@media (max-width: 992px) {
    .container-custom {
      max-width: 720px; /* 中サイズのデバイス用に幅を調整 */
    }
  }
  
  @media (max-width: 768px) {
    .container-custom {
      max-width: 540px; /* 小サイズのデバイス用に幅を調整 */
    }
  }
  
  @media (max-width: 576px) {
    .container-custom {
      max-width: 370px;
    }
  }
  
.account img{
    margin-bottom: 15px;
    width: 290px;
    height: 160px;
    border-radius: 10px;
}

.account-botton{
    width: 290px;
    height: 30px;
    background-color: var(--LIKE);
    border: none;
    /* border: 2px solid var(--LIKE); hoverした際に枠が見えるようにするため */
    border-radius: 5px;
    color: var(--hatablue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    transition: all 0.4s ease;
}

.account-botton:hover{
    color: white;
    background-color: var(--hatablue);
}